{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * craft-deploy plugin for Craft CMS 3.x
 *
 * craft-deploy index.twig
 *
 * @author        dilewe
 * @copyright Copyright (c) 2021 dilewe
 * @link            dilewe.de
 * @package     Craftdeploy
 * @since         1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{# {% do view.registerAssetBundle("dilewe\\craftdeploy\\assetbundles\\craftdeploy\\CraftdeployAsset") %} #}
{% do view.registerAssetBundle("dilewe\\release\\assetbundles\\verffentlichencpsection\\VerffentlichenCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/dilewe/release/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Veröffentlichen" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('craft-deploy') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@dilewe/release/assetbundles/verffentlichencpsection/dist', true) ~ '/img/icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
	<div class="buttons">
		<a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('craft-deploy') }}</a>
	</div>
{% endset %}

{# The content of the CP Section#}
{% set content %}

<style>
	:root {
		--dlw-color: #1E3E51;
	}
	.progress {
		width: 99%;
		background-color: grey;
		color: white;
		margin: 20px auto;
	}
	.bar {
		width: 100%;
		height: 30px;
		background-color: grey;
		text-align: center;
		line-height: 30px;
		color: white;
		overflow: hidden;
	}
	.bar::after {
		content: "";
		background-image: url("{{ iconUrl }}");
		background-size: contain;
		width: 30px;
		height: 30px;
	}
	.button {
		display: block;
		margin: 5px;
		border: 1px solid var(--dlw-color);
		border-radius: 5px;
		padding: 5px 10px;
		background-color: var(--dlw-color);
		color: white;
		font-size: 28px;
	}
	.statusText {
		margin: 5px 0;
	}
	.seperator {
		display: block;
		width: 100%;
		height: 3px;
		border-bottom: 1px solid grey;
		margin: 20px auto;
	}
	label[for="deployments"] {
		font-size: 28px;
		margin: 10px 0 5px 10px;
	}
	select[name="deployments"] {
		margin: 10px 0 5px 10px;
		font-size: 24px;
	}
	status {
		display: inline-Block;
		font-size: 22px;
	}
	status-icon {
		display: inline-block;
		border: 2px solid var(--dlw-color);
		line-height: 22px;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background-color: yellow;
		vertical-align: -17%;
		margin: 0 10px;
	}
</style>


{# <form method="post" accept-charset="UTF-8">
	{{ csrfInput() }}
	<input type="hidden" name="action" value="craft-deploy/deploy/deploy">
	<button class="btn submit" type="submit">{{'Do it'|t('craft-deploy')}}</button>
</form> #}

<status>Status: <status-icon></status-icon><span>prüfe...</span></status>

<p>hier kann die Veröffentlichung gestartet werden:</p>
<button id="deploy" class="button">Veröffentlichen</button>

<div class="progress">
	<div class="bar">chille -.- zZZ</div>
</div>

<span class="statustext"></span>

<div class="seperator"></div>

<p>hier kann die Veröffentlichung zurückgesetzt werden:</p>

<label for="deployments">Älteren Zustand auswählen:</label>
<select name="deployments" id="deployments">
	<optgroup label="Altere Deployments">
	<option value="null">keines</option>
	</optgroup>
</select>

<button id="restore" class="button">wiederherstellen</button>

<div class="seperator"></div>

<p>dev-tools:</p>
<button id="failure" class="button">(Failure)</button>

<script>
const lasubAdministration = "{{ craft.app.config.general.lasubAdministration }}";
const deployButton = document.getElementById("deploy");
const bar = document.querySelector(".bar");
const progress = document.querySelector(".progress");
const statusText = document.querySelector(".statustext");
const statusIcon = document.querySelector("status-icon");
const statusSpan = document.querySelector("status span");
const failureButton = document.getElementById("failure");
const restoreButton = document.getElementById("restore");
const optGroup = document.querySelector("#deployments optgroup");

let jsonId = {};
let ping = {};

const doAction = async ( action, data = {} ) => {
	const response = await fetch(lasubAdministration, { method:"POST", body: JSON.stringify({ action, ...data })});
	if(response.status === 200) {
		const data = await response.json();
		if (data) {
		return data;
		}
	}
}

const getStatus = async id => {
	try {
		const data = await doAction("status", {"id": id});
		console.log(data);
		switch(data?.status) {
			case "complete":
				clearInterval(ping);
				bar.innerText = "Fertig!";
				bar.style.backgroundColor = "#77962E";
				bar.style.width = "100%";
				deployButton.style.display = "block";
				break;
			case "running":
				console.log(data);
				setBar(data.progress);
				statusText.style.display = "none";
				break;
			case "error":
				clearInterval(ping);
				deployButton.style.display = "block";
				bar.innerHTML = "FEHLER";
				bar.style.backgroundColor = "red";
				console.log(data);
				break;
			case "stopped":
				clearInterval(ping);
				deployButton.style.display = "block";
				bar.innerHTML = "Abgebrochen";
				bar.style.width = "100%";
				bar.style.backgroundColor = "grey";
				break;
			default:
				clearInterval(ping);
				deployButton.style.display = "block";
				bar.innerHTML = "FEHLER";
				bar.style.backgroundColor = "red";
				console.log(data);
		}

	} catch (error) {
		console.log(error);
		bar.innerHTML = "FEHLER";
		bar.style.backgroundColor = "red";
	}
}

const startDeploy = async() => {

	progress.style.display = "block";
	bar.style.width = "100%";
	bar.innerText = "gestartet";
	bar.style.backgroundColor = "#257DA7";

	
	try {
		const data = await doAction("deploy");
		jsonId = data;

		const Status = () => {
			getStatus(jsonId.id);
		}
		ping = setInterval(Status, 1000);

	} catch (error) {
		console.log(error);
		bar.innerHTML = "FEHLER";
		bar.style.backgroundColor = "red";
	}
}

const askDeployments = async() => {
	optGroup.innerHTML = "";
	try {
		const data = await doAction("releaseList");
		for ( let i = 0; i < data.releases.length; i++) {
			const option = document.createElement("OPTION");
			const dateOptions = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
			option.value = data.releases[i];
			option.innerHTML = new Date(data.releases[i]).toLocaleDateString('de-DE', dateOptions);
			optGroup.append(option);
		}
		statusIcon.style.backgroundColor = "green";
		statusSpan.innerHTML = "verbunden";
	} catch (error) {
		console.error(error);
		statusIcon.style.backgroundColor = "red";
		statusSpan.innerHTML = "keine Verbindung " + lasubAdministration;
	}
}

const startFailure= async id => {
	if(!id){return;}
	const data = await doAction("cancel", {"id": id});
}

const setBar = percent => {
	if (percent > 0) {
		progress.style.display = "block";
	}
	bar.style.width = percent + "%";
	bar.innerHTML = percent + "%";
	if (percent > 99) {
		progress.style.display = "none";
	}
}

deployButton.addEventListener("click", () => {
	startDeploy(locationDep);
});

failureButton.addEventListener("click", () => {
	if (jsonId.id) {
		startFailure(jsonId.id);
	}
});

restoreButton.addEventListener("click", async () => {
	const release = optGroup.parentElement.value;
	await doAction("restore", { release });

})



setTimeout(() => {
	askDeployments();
}, 0);


	// 
</script>




{% endset %}
